<!-- List of Notifications for a user  -->
{% extends "base.html" %}

{% block content %}
<div class="container-fluid gx-4 ">
  <div class="row">
    <div class="col main-title text-center">
      <h4>Notifications</h4>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Subject</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      {% for notice in notifications %}
      <tr>
        <th scope="row">{{forloop.counter0|add:notifications.start_index}}</th>
        <td>{{ notice.notice_date|date:'d-M-Y H:i' }}</td>
        <td>{{ notice.subject }}</td>
        <td><a class="btn btn-color btn-sm" aria-current="page" href="{% url 'notification_detail' notice.pk %}"
            title="Click to View Details"><i class="fas fa-search"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if notifications.has_previous %}
      <li><a href="?page={{ notifications.previous_page_number }}" class="btn btn-color">&laquo; PREV </a></li>
      {% endif %}
      {% if notifications.has_next %}
      <li><a href="?page={{ notifications.next_page_number }}" class="btn btn-color ms-2"> NEXT &raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endblock %}