{% extends "base.html" %}

{% block content %}
<div class="container-fluid gx-4 ">
    <div class="row">
        <div class="col main-title text-center">
            <h4>Notifications</h4>
        </div>

    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Subject</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
            {% for notice in notifications %}
          <tr>
            <th scope="row">1</th>
            <td>{{ notice.notice_date|date:'d-M-Y H:i' }}</td>
            <td>{{ notice.subject }}</td>
            <td><a class="btn btn-color btn-sm" aria-current="page" href="{% url 'home' %}"
            title="Click to View Details"><i class="fas fa-search"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endblock %}