{% extends "base.html" %}

{% block content %}
<div class="container-fluid gx-4 ">
    <div class="row">
        <div class="col main-title text-center">
            <h4>Cancel Booking: {{ user_to_cancel }}</h4>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Dinner Date</th>
                <th scope="col">Time</th>
                <th scope="col">Persons</th>
                <th scope="col">Cuisine Choices</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ booking.booking_date|date:'d-M-Y H:i' }}</td>
                <td>{{ booking.dinner_date|date:'d-M-Y' }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.seats }}</td>
                <td>{{ booking.cuisines }}</td>
                <!-- Button to confirm the action and pass the message to Javascript to display to user -->
                <td><button type="button" class="btn btn-danger btn-sm confirmation-btn" data-bs-toggle="modal"
                        data-bs-target="#confirmModal" id="confirmation-btn"
                        data-message="Please confirm cancellation of this booking?"
                        data-booking-id={{ booking.id }}>Cancel
                    </button>
                </td>
            </tr>
            {% endfor %}
            <form method="POST" action="{% url 'cancel_my_booking' user.username%}">
                {% csrf_token %}
                <div class="col">
                    <input type="number" value="" name="booking_id" class="hidden" id="cancel_booking_id">
                    <button class="hidden" id="cancel-booking-btn" type="submit" name="action">cancel
                        actual</button>
                </div>
            </form>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if bookings.has_previous %}
            <li><a href="?page={{ bookings.previous_page_number }}" class="btn btn-color">&laquo; PREV </a></li>
            {% endif %}
            {% if bookings.has_next %}
            <li><a href="?page={{ bookings.next_page_number }}" class="btn btn-color"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>

    {% endblock %}