body {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    background-color: #e6e6e6;
}

.hidden {
    display: none;
}

/* Color variables */
:root {
    --lapis-blue: #2660A4;
    --azure-white: #EDF7F6;
    --sandy-brown: #F19953;
    --copper: #C47335;
    --dark-brown: #56351E;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* Reduce the default padding of 0.5 rem from Bootstrap */
.table> :not(caption)>*>* {
    padding: 0.1rem 0.1rem;
}

/* Brand amd menu icons */
#brand-logo {
    color: #56351E;
    display: inline-block;
    font-size: 2rem;
}

#brand-name {
    display: inline-block;
    color: #2660A4;
    font-size: 2rem;
    font-style: italic;
}

.menu-icon {
    color: var(--dark-brown);
}

.menu-icon:hover {
    color: var(--sandy-brown)
}

/* Titles */

.main-title {
    background: linear-gradient(0.25turn, var(--lapis-blue), var(--dark-brown), var(--copper));
    color: #EDF7F6;
    font-size: 1rem;
}

h3, .my-color-title {
    color: var(--dark-brown);
    text-align: center;
}

.btn-color {
    background-color: var(--lapis-blue);
    color: var(--azure-white);
}

.btn-color:hover,
.my-link:hover {
    background-color: #F19953;
}

.btn-cancel {
    background-color: var(--dark-brown);
    color: var(--azure-white);
}

.btn-cancel:hover {
    background-color: #F19953;
}

.my-nav:hover {
    color: var(--lapis-blue);
    font-weight: bolder;
}

.my-link {
    color: #56351E;
    font-weight: 400;
}

.dropdown-menu[data-bs-popper] {
    right: 10%;
    left: auto;
}

/* Input forms */

.main-input #id_start_time,
.main-input #id_seats,
.main-input #id_dinner_date {
    background-color: white !important;
    border: none;
}

form label {
    font-weight: bold;
}
/* Footer area */
footer {
    background: linear-gradient(0.25turn, var(--copper), var(--dark-brown), var(--lapis-blue));
    color: #EDF7F6;
    margin: 0 0.75rem;
}

footer a {
    color: #EDF7F6;
}

footer a:hover {
    background-color: #F19953;
    color: #56351E;
}

footer span {
    margin: 2px 0;
}

footer i {
    color: whitesmoke;
}