{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid gx-4 ">
    <div class="row">
        <div class="col main-title text-center">
            <h4>Book your table for that exquisite dinner</h4>
            <p>Price per Person: <span><i class="fas fa-euro-sign"></i>{{buffet_price}}</span></p>
        </div>
        <div class="row">
            <p></p>
            <div class="col-sm-10 col-md-6 offset-md-3">
                <form method="POST" action="{% url 'home' %}" class="booking_form">
                    {% csrf_token %}
                    <div class=row>
                        <div class=" input-group col bg-body border border-secondary main-input ">
                            <span><i class="fas fa-calendar-alt"></i></span>
                            <span>{{ form.dinner_date }}</span>
                        </div>
                        <div class="col bg-body border border-secondary main-input">
                            <span><i class="fas fa-clock"></i></span>
                            <span>{{ form.start_time }}</span>
                        </div>
                        <div class="col bg-body border border-secondary main-input">
                            <span class="bg-light"><i class="fa-solid fa-user"></i>{{ form.seats }}</span>
                        </div>
                        <!-- {{ form|crispy }} -->
                        <div class="col">
                            <button class="btn btn-color" type="submit" name="action">Let's go</button>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid gx-4 ">
    <p></p>
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="row  align-items-center">
                <div class="col-md-10 offset-md-2 text-primary">
                    I will like to eat from the following cuisine (click all that you want)
                </div>
            </div>
            <div class="row">
                {% for cuisine in cuisines %}

                <!-- <div class="card col">
                    <img src="{{cuisine.cuisine_image.url }}" class="img-fluid card-img-top rounded mx-auto d-block" alt="{{cuisine.name }}">
                    <div class="card-body">
                      <h5 class="card-title">{{cuisine.name }}</h5>
                      <p class="card-text">{{cuisine.description}}</p>
                    </div>
                  </div> -->

                <div class="col border border-secondary">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{cuisine.id}}" id="cuisine_option" name="cuisine_option">
                        <label class="form-check-label" for="cuisine_option">
                            {{cuisine.name }}
                        </label>
                    </div>
                    <img src="{{cuisine.cuisine_image.url }}" class="img-fluid rounded mx-auto d-block"
                        alt="{{cuisine.name }}">
                    <p>{{cuisine.description}}</p>
                </div>
                {% endfor %}
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}