{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block additional_title %}- Profile details{% endblock %}
{% block other_java_script %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid gx-4 ">
    <div class="row">
        <div class="col main-title text-center">
            <h4>Update User Group</h4>
        </div>
    </div>
</div>
<div class="container-fluid gx-4 ">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p></p>
            <form action="{% url 'update_group' %}" method="POST" id="group-update-form">
                {% csrf_token %}
                {{ group_form|crispy }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-color">Add</button>
                </div>
                <button type="submit" class="hidden" name="user_change" id="user-change-button"></button>
                <input type="text" value={{users.id}} name="user_id" id="user_id" class="hidden">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User</th>
                            <th scope="col">Group</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in users.groups.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{users.first_name}} {{users.last_name}}</td>
                            <td>{{ group.name }}</td>
                            <td><button type="button" class="btn btn-danger btn-sm confirm_remove_notification" data-bs-toggle="modal"
                                data-bs-target="#confirmModal"
                                data-group = {{ group.name }}
                                data-message="Please confirm removing this group from user?">Remove
                            </button>
                        </td>
                            </td>
                            </td>
                        </tr>
                        {% endfor %}
                        <button type="submit" class="hidden" name="remove_group" id="action_button"></button>
                        <input type="text" value="" name="user_group_selected" id="user_group_name" class="hidden">
                    </tbody>
                </table>

            </form>
   
        </div>
    </div>
</div>
{% endblock %}