{% load static %}
{% load user_belong_group %}
<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Graces Buffet {% block additional_title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;1,400;1,500&display=swap"
        rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="description" content="Book that exquisite dinner today!" />
    <meta name="keywords" content="dinner, buffet, booking, reservation, online table reservation" />
    <meta name="author" content="Graces Buffet" />

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <style>
        body {
            /* background-image: url("{% static 'images/spiration-light.png' %}"); */
            background-color: #e6e6e6;
        }
    </style>
</head>

<body class="d-flex flex-column h-100 main-bg gx-4">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid nav-area">
            <!-- <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">c<span class="red-o">o</span>de<span
                        class="thin">|star</span></span></span></a> -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <h1 id="brand-logo"><i class="fas fa-utensils"></i></h1>
                <h1 id="brand-name">Graces Buffet</h1>
                <!-- <img src="{% static 'images/logo.webp' %}" alt="" width="120" height="100"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <span class="navbar-text text-muted">
                        <span>Welcome {{ user.first_name}}</span>
                    </span>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" title="User Account Dropdown">
                            <i class="fa-solid fa-user my-nav"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'update_profile' %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_email' %}">Update Email</a></li>
                            <li><a class="dropdown-item" href="{% url 'booking_detail' %}">Dinning History</a></li>
                            <li><a class="dropdown-item" href="{% url 'cancel_my_booking' user.username %}">Cancel Booking</a></li>
                            <!-- Operator sub menu -->
                            {% if request.user|has_group:"operator" %} 
                            <li>
                                <a class="dropdown-item" href="#" title="Operator">
                                    Operator &raquo;
                                </a>
                                <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Update Booking Status</a></li>
                                    <li><a class="dropdown-item" href="#">Book for Customer</a></li>
                                    <li><a class="dropdown-item" href="{% url 'cancel_other_booking' %}">Cancel Booking for Customer</a></li>
                                    <li><a class="dropdown-item" href="#"><hr></a></li>
                                    <li><a class="dropdown-item" href="#">Past Due guests List</a></li>
                                    <li><a class="dropdown-item" href="#">Booking Details List</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <!-- Administrator Role Options -->
                            {% if request.user|has_group:"administrator" %} 
                            <li>
                                <a class="dropdown-item" href="#" title="Operator">
                                    Administrator &raquo;
                                </a>
                                <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'update_group' %}">Assign User Roles</a></li>
                                    <li><a class="dropdown-item" href="#">Buffet Cuisines</a></li>
                                    <li><a class="dropdown-item" href="#">Maintain Tables</a></li>
                                    <li><a class="dropdown-item" href="#">System Preferences</a></li>
                                </ul>
                            </li>
                            {% endif %}

                            <li><a class="dropdown-item" href="{% url 'account_reset_password' %}">Reset Password</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" title="Upcoming Bookings"><i
                                class="fa-solid fa-calendar-days"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'get_notification' %}" title="Notifications"><i class="fa-solid fa-bell"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
                            title="Find seats to book"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" title="Home">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}" title="Logout"><i
                                class="fa-solid fa-right-to-bracket"></i></a>
                    </li>


                </ul>
                {% else %}
                <!-- only show sign up and login button if user is not already signed in -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                        <a class="nav-link" href="{% url 'account_signup' %}" title="Sign Up">
                            <div class="text-center nav-icons-wrapper-lg my-nav">
                                <div><i class="fa-solid fa-person-praying "></i></div>
                                <p class="my-0 small">Sign Up</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}" title="Login">
                            <div class="text-center nav-icons-wrapper-lg my-nav">
                                <div><i class="fa-solid fa-right-to-bracket "></i></div>
                                <p class="my-0 small">Login</p>
                            </div>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 position-absolute end-0">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible show messages" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <!-- Modal dialogue for confirmations -->
    <div class="modal" tabindex="-1" id="confirmModal" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header main-title ">
              <h5 class="modal-title">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
            </div>
            <div class="modal-body" id="confirm-message">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary confirm-no" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary btn-color confirm-yes">Okay</button>
            </div>
          </div>
        </div>
      </div>
      
    {% block extra_body %}
    {% endblock %}
    <!-- Footer -->
    <footer class="footer mt-auto py-2">
        <p class="m-0 text-center text-white"><a href="">Terms of Use</a> <span>|</span>
            <a href="">Privacy Policy</a> <span>|</span>
            <a href="">Contact Us </a> <span>|</span>
            <span><a href="" title="LinkedIn"><i class="fab fa-linkedin"></i></a></span>
            <span>|</span>
            <a href="" title="Github"><i class="fab fa-github"></i></a>
        </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" rel="preconnect"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block other_java_script %}{% endblock %}
</body>

</html>