{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid gx-4 ">
    <div class="row">
        <div class="col main-title text-center">
            <h4 class="mt-2">Book your table for that exquisite dinner</h4>
            <p>Price per Person: <span><i class="fas fa-euro-sign"></i>{{buffet_price}}</span></p>
            {% if username != user.username %}
            <p>Booking for: {{user_fullname}}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-11 col-lg-9 mt-4 mx-auto">
            <form method="POST" action="{% url 'home' %}" class="booking_form">
                {% csrf_token %}
                <div class=row>
                    <div class="col bg-body border border-secondary main-input ">
                        <span><i class="fas fa-calendar-alt"></i></span>
                        <span>{{ form.dinner_date }}</span>
                    </div>
                    <div class="col bg-body border border-secondary main-input">
                        <span><i class="fas fa-clock"></i></span>
                        <span>{{ form.start_time }}</span>
                    </div>
                    <div class="col bg-body border border-secondary main-input">
                        <span class="bg-light"><i class="fa-solid fa-user"></i>{{ form.seats }}</span>
                    </div>
                    <div class="col">
                        <button class="btn btn-color" type="submit" name="action">Let's go</button>
                        <input type="text" id="username" class="hidden" name="username" value={{username}}>
                    </div>
                </div>
                <div class="col mx-auto mt-4">
                    <h4 class="my-color-title">I will like to eat from the following cuisine (click all that you want)
                    </h4>
                    <div class="row">
                        {% for cuisine in cuisines %}
                        <div class="col-sm-6 col-lg-3 border border-secondary">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{cuisine.id}}"
                                    id={{cuisine.id }} name="cuisine_option">
                                <label class="form-check-label" for={{cuisine.id }}>
                                    {{cuisine.name }}
                                    <img src="{{cuisine.cuisine_image.url }}" class="img-fluid rounded mx-auto d-block"
                                        alt="{{cuisine.name }}">
                                </label>
                                <p>{{cuisine.description}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}